<div class="container">
    <mat-card>
        <img src="https://static.toiimg.com/photo/77118243.cms" alt="" style="width:100%;">
    </mat-card>
    <h1>Vaccine</h1>

    <p>Independent reviews of the efficacy and safety evidence is required for each vaccine candidate, including regulatory review and approval in the country where the vaccine is manufactured, before WHO considers a vaccine candidate for prequalification. Part of this process also involves the Global Advisory Committee on Vaccine Safety.</p>
</div>
