<div class="container">
    <mat-card>
        <img src="https://cdn4.iconfinder.com/data/icons/coronavirus-24/468/42-1m_distance-512.png" alt="" style="width:100%;">
    </mat-card>
    <h1>Social Distancing for Your Safty</h1>
  <p>In public health, social distancing, also called physical distancing, is a set of non-pharmaceutical interventions or measures intended to prevent the spread of a contagious disease by maintaining a physical distance between people and reducing the number of times people come into close contact with each othe</p>
    
  
</div>
