
<div class="container">
  <header>
    <mat-card style="background:red">
      <div class="wrapper">
        <div class="col">
          <mat-icon aria-hidden="false" aria-label="Example home icon">menu</mat-icon>
        </div>
        <div class="col">
          <h2 style="align-items: center; margin-top:10px;"> Covid-19</h2>
        </div>
        <div class="col">
          <mat-icon aria-hidden="false" aria-label="Example home icon"> notifications</mat-icon>
        </div>
      </div>
    </mat-card>
  </header>

<router-outlet></router-outlet>
</div>
