<div class="container">
    <mat-card>
        <img src="https://cdn3.iconfinder.com/data/icons/corona-virus-covid19/64/using-mask-512.png" alt="" style="width:100%;">
    </mat-card>
    <h1>Please Wear Mask for Your Safty</h1>

    <p>Masks alone will not protect you. To fight coronavirus, also ensure physical distancing and frequent handwashing. Your questions answered. 
       Advice for the public. Recommendation from WHO. Learn about Coronavirus. Official WHO website. Official info on COVID-19.</p>
    
  
</div>
